.App {
  text-align: center;
  background-color: #cbdbec;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-title{
  text-align: center;
  color: rgb(253, 253, 253);
  padding-left: 400px;
}
.legend {
  position: relative;
  top: 15px;
  padding-left: 900px;
}

.legend .legend-title {
  text-align: center;
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
  color: rgb(0, 0, 0);
}
.legend .legend-scale ul {
  margin: 0;
  padding: 0;
  float: left;
  list-style: none;
}
.legend .legend-scale ul li {
  display: block;
  float: left;
  width: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 80%;
  list-style: none;
  color: rgb(15, 14, 14);
}
.legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 15px;
  width: 50px;
}
.legend .legend-source {
  font-size: 70%;
  color: #999;
  clear: both;
}
.legend a {
  color: #777;
}